.container{
    box-shadow: 0px 0px 10px 5px rgb(167, 114, 17);
    border: 2px solid rgb(243, 170, 35);
    border-radius: 10px;
    background-color: none;
    width: 200px;
    height:100%;
    transform: rotateX(50deg);
}

.logoSkill{
    border-radius: 10px 10px 0 0;
    display: block;
    width: 100%;
    height: 80%;
}
.container:hover{
    transform: rotateX(0deg);
    transition: all 1s;

}

.nameSkill{
    font-weight: bolder;
    background:black;
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 20%;
    color: rgb(243, 170, 35);
   /* animation: skillButton 2s ease-in 0s infinite;*/
}

.nivel{
    background-color: black;
    border-radius: 0 0 10px 10px;

    position: absolute;
    top:3.5px;
    left:2.5px;
    width: 195px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: circle(0px);
}

.container:hover .nivel{
    clip-path: circle(150px);
    transition: all 1s;
}

@keyframes skillButton {
    0%{
        background-position:0 0;
    }

    100%{
        background-position:200px;

    }
    
}

@keyframes efectoTridimensional {
    0%{
        transform: rotateX(60deg); 

    }
    100%{
        transform: rotateX(-60deg); 
    }
}