
.hero{
    padding: 500px 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 800px;
    background: rgb(0,0,0);
    background-size: cover;
}
.titulo{
    text-align: left;
}

.name{
    background:linear-gradient(to left,rgb(212, 151, 94),rgb(241, 123, 12));
    -webkit-background-clip: text;
    color: transparent;
    font-size: 7rem;
    font-style: italic;
}

.position{
    margin-bottom: 25px;
    color: white;
    font-size: 3rem;
    font-style: italic
}

.foto{
    border-radius: 50%;
    position: relative;
}

.socialMediaIcons{
    display: flex;
    align-items: center;
    gap: 25px;
}

.linkedInIcon{
    cursor: pointer;
    color: rgb(241, 123, 12);
    background-color: none;
    width: 50px;
    height:50px;
}

.linkedInIcon:hover{
    background-color: none;
    color:rgb(21, 21, 238);
    filter: drop-shadow(0px 0px 5px white);
    transform: scale(1.2);
    transition: all 0.5s;
}

.githubIcon{
    cursor: pointer;
    color:rgb(241, 123, 12);
    height:55px;
    width: 55px;
    background: none;
}

.githubIcon:hover{
    color: black;
    background-clip: content-box white;
    filter: drop-shadow(0px 0px 5px white);
    transform: scale(1.2);
    transition: all 0.5s;


}
