
.hero{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    background: rgb(0,0,0);
    background-size: cover;
}

.titulo{
    border: 1px solid yellow;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    aspect-ratio: 1/1.15;
    justify-content: center;
    position: relative;
}


.name{
    color: rgb(241, 123, 12);
    font-size:6vw;
    font-style: italic;
}

.position{
    color: white;
    font-size: 3vw;  
}

.resumeButton{
    margin: 25px 0;
    display: flex;
    align-items:center;
    justify-content: center;
    color: rgb(241, 123, 12);
    font-size: 1.25vw;
    font-weight: 700;
    background-color: rgb(0, 0, 0);
    border: none;
    aspect-ratio: 1/0.25;
    cursor: pointer;
    border-radius: 35px;
    width: 40%;
    border: 3px solid rgb(241, 123, 12); 
    gap: 10px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.resumeButton::before{
    position: absolute;
    top:0;
    left: -100px;
    content: " ";
    width: 150%;
    aspect-ratio: 1/0.75;
    border-radius: 35px;
    background-color: rgb(241, 123, 12);
    transform: translate(100%,-150%) rotate(45deg);
    z-index: -1;
}

.resumeButton:hover::before{
    animation: animationResumeButton 1s linear 0s forwards;
}

.resumeButton:hover{
    box-shadow: 0px 0px 10px 5px rgb(241, 123, 12) ;
    color:rgb(0, 0, 0) ;
    border: 3px solid rgb(0, 0, 0);
    transition: all 1s;
}

.photoContainer{
    border: 1px solid red;
    width: 50%;
    aspect-ratio: 1/1.15;
}
.foto{
    width: 100%;
    border-radius: 50%;
    position: relative;
}

.socialMediaIcons{
    border: 1px solid red;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: 25px;
    margin: 25px 0;
}

.linkedInIcon{
    cursor: pointer;
    color: rgb(241, 123, 12);
    background-color: none;
    width: 50px;
    height:50px;
}

.linkedInIcon:hover{
    background-color: none;
    color:rgb(21, 21, 238);
    filter: drop-shadow(0px 0px 5px white);
    transform: scale(1.2);
    transition: all 0.5s;
}

.githubIcon{
    cursor: pointer;
    color:rgb(241, 123, 12);
    height:55px;
    width: 55px;
    background: none;
}

.githubIcon:hover{
    color: black;
    background-clip: content-box white;
    filter: drop-shadow(0px 0px 5px white);
    transform: scale(1.2);
    transition: all 0.5s;
}

@keyframes animationResumeButton {
    75%{
        transform: translate(0, 0) rotate(45deg);
    }

    100%{
        transform: translate(25%, -25%) rotate(45deg);
    }
}


@media (max-width:1024px){
    .photoContainer{
        display: none;
    }

    .hero{
        justify-content: center;
    }

    .titulo{
        width: 100%;
        aspect-ratio: 1/0.75;
    }

    .name{
        font-size: 12vw;
    }

    .position{
        font-size: 6vw;
    }

    .resumeButton{
        font-size: 2vw;
    }
}

@media (max-width:768px){
    .socialMediaIcons{
        position: unset
    }
}