
@keyframes sombraBoton {
    0%{
        background-position: 0 0;
    }

    100%{
        background-position: 100px 0; 
    }
    
}

header{
    background-color:#0e1538 ;
    display: flex;
    align-items: center;
    height: 50px;
    color: rgb(249, 232, 201);
    justify-content: space-between;
    padding: 0px 35px;
    position: relative;
}

.buttonsContainer{
    display: flex;
    gap: 50px;
    background-color: #0e1538;

}

.navbarButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0e1538;
    border: none;
    height: 35px;
    cursor: pointer;
    width: 100px;
}

.navbarButtons:hover{
    background:linear-gradient(45deg,#9500ff,#0e1538,#0e1538,#09f );

    animation: sombraBoton 1s normal 0s infinite;
}

.navbarEnlaces{
    text-align: center;
    line-height: 30px;
    color: white;
    background-color: #0e1538;
    height: 30px;
    width:95px;
}

.toggle{
    cursor: pointer;
    width: 30px;
    height: 100%;
    display: none;
}

@media (max-width:768px){

    @keyframes sombraBoton {
        0%{
            background-position: 0 0;
        }
    
        100%{
            background-position: 30vw 0; 
        }
        
    }

    .toggle{
        display: block;
        background: none;
    }
    
    .buttonsContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        position: absolute;
        top: 50px;
        right: 0;
        gap: 0px;
        width:30vw; 
        height: 0;
        opacity: 0;
        overflow: hidden;
        transition: all 2s ease;
        z-index: 10;
    }

    .buttonsContainer.display{
         height: fit-content;
         opacity: 1;
    }

    .navbarButtons{
        height:100px;
        width:100%;
    }

    .navbarEnlaces{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 95px;
        width:95%;
        font-size: 20px;
    }

}