.experienceSection{
    width: 85%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}

.experienceSection h1{
    align-self: flex-start;
    font-size: 3vw;
    color:rgb(241, 123, 12);
    margin: 50px 0px;
    width: fit-content;
}
.showExperiences{
    border: 1px solid green;
    width: 100%;
}