
.AboutMeSection{

    display: flex;
    justify-content: center;
    padding: 100px 35px;
    height: 800px;
    background: linear-gradient(to bottom,#0e1538,#0e1538,#0f1c3ef1),url("../../images/wave_footer_aboutMe.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    color: white;
    gap: 100px;
}

.descripcion{
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65%;
    width: 40%;
}

.descripcion h1{
    font-size: 3rem;
    background: linear-gradient(to left,rgb(154, 185, 180) 40%,#b4b5b9 60%);
    color: transparent;
    -webkit-background-clip: text;
}

.descripcion p{
    margin: 30px 0px;
    text-align: left;
}

.resumeButton{
    
    border: 1px solid black;
    color: white;
    background: linear-gradient(150deg,#9500ff,#09f);
    box-shadow: 0px 0px 10px 2px #feffff;
    cursor: pointer;
    /*border-radius: 15px ;*/
    justify-content: center;
    height: 3rem;
    width: 11rem;
    display: flex;
    align-items: center;  
    animation:resum 1s ease-in-out 0 infinite;
    
}


.resumeButton a{
    font-weight: 700;
    /*border-radius: 15px ;*/
    height: 85%;
    width: 96%;
    background-color: #000000;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resumeButton a:hover{
    background: none;
    transition: 0.5s;
}

.hoja{
    width: 1rem;
    height: 3rem;
}
.foto{
    height: 55%;
}

