.AboutMeSection{
    
    padding: 50px 35px;
    height: 950px;
    background-color: black;
    background-repeat: no-repeat;
    background-position: bottom;
    color: white;
}

.descricionContainer{
    margin: 50px 0;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}

.descripcion{
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65%;
    width: 40%;
}

.descripcion h1{
    font-size: 3rem;
    background: linear-gradient(150deg,#9500ff,#09f);

    color: transparent;
    -webkit-background-clip: text;
}

.descripcion p{
    font-family: sans-serif;
    margin: 30px 0px;
    line-height: 35px;
    font-size: 25px;
    text-align: left;
    font-style: italic;
}

.resumeButton{
    
    border: 1px solid black;
    color: white;
    background: linear-gradient(150deg,#9500ff,#09f);
    box-shadow: 0px 0px 10px 2px #feffff;
    cursor: pointer;
    /*border-radius: 15px ;*/
    justify-content: center;
    height: 3rem;
    width: 11rem;
    display: flex;
    align-items: center;  
    animation:resum 1s ease-in-out 0 infinite;
    
}


.resumeButton a{
    font-weight: 700;
    /*border-radius: 15px ;*/
    height: 85%;
    width: 96%;
    background-color: #0e1538;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resumeButton a:hover{
    background: none;
    transition: 0.5s;
}

.hoja{
    width: 1rem;
    height: 3rem;
}

.skillsSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:25px 50px;
}

.skillsSection h1{
    background: linear-gradient(150deg,#9500ff,#09f);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 3rem;
    width: fit-content;


}

.skills{
    perspective: 900px;
    height: 180px;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    gap: 45px;
}

